@import "variables";

.m-t-xl { margin-top: $margin-extra-large; }
.m-r-xl { margin-right: $margin-extra-large; }
.m-b-xl { margin-bottom: $margin-extra-large; }
.m-l-xl { margin-left: $margin-extra-large; }
.m-h-xl { padding-left: $margin-extra-large; padding-right: $margin-extra-large; }
.m-v-xl { padding-top: $margin-extra-large; padding-bottom: $margin-extra-large; }

.m-t-lg { margin-top: $margin-large; }
.m-r-lg { margin-right: $margin-large; }
.m-b-lg { margin-bottom: $margin-large; }
.m-l-lg { margin-left: $margin-large; }
.m-h-lg { padding-left: $margin-large; padding-right: $margin-large; }
.m-v-lg { padding-top: $margin-large; padding-bottom: $margin-large; }

.m-t-md { margin-top: $margin-medium; }
.m-r-md { margin-right: $margin-medium; }
.m-b-md { margin-bottom: $margin-medium; }
.m-l-md { margin-left: $margin-medium; }
.m-h-md { padding-left: $margin-medium; padding-right: $margin-medium; }
.m-v-md { padding-top: $margin-medium; padding-bottom: $margin-medium; }

.m-t-sm { margin-top: $margin-small; }
.m-r-sm { margin-right: $margin-small; }
.m-b-sm { margin-bottom: $margin-small; }
.m-l-sm { margin-left: $margin-small; }
.m-h-sm { padding-left: $margin-small; padding-right: $margin-small; }
.m-v-sm { padding-top: $margin-small; padding-bottom: $margin-small; }

.m-t-xs { margin-top: $margin-extra-small; }
.m-r-xs { margin-right: $margin-extra-small; }
.m-b-xs { margin-bottom: $margin-extra-small; }
.m-l-xs { margin-left: $margin-extra-small; }
.m-h-xs { padding-left: $margin-extra-small; padding-right: $margin-extra-small; }
.m-v-xs { padding-top: $margin-extra-small; padding-bottom: $margin-extra-small; }

.m-none { margin: $margin-none; }
.m-t-none { margin-top: $margin-none; }
.m-r-none { margin-right: $margin-none; }
.m-b-none { margin-bottom: $margin-none; }
.m-l-none { margin-left: $margin-none; }
.m-h-none { padding-left: $margin-none; padding-right: $margin-none; }
.m-v-none { padding-top: $margin-none; padding-bottom: $margin-none; }