@import "variables";

.m-t-xl { margin-top: $margin-extra-large; }
.m-r-xl { margin-right: $margin-extra-large; }
.m-b-xl { margin-bottom: $margin-extra-large; }
.m-l-xl { margin-left: $margin-extra-large; }
.m-h-xl { margin-left: $margin-extra-large; margin-right: $margin-extra-large; }
.m-v-xl { margin-top: $margin-extra-large; margin-bottom: $margin-extra-large; }

.m-t-lg { margin-top: $margin-large; }
.m-r-lg { margin-right: $margin-large; }
.m-b-lg { margin-bottom: $margin-large; }
.m-l-lg { margin-left: $margin-large; }
.m-h-lg { margin-left: $margin-large; margin-right: $margin-large; }
.m-v-lg { margin-top: $margin-large; margin-bottom: $margin-large; }

.m-t-md { margin-top: $margin-medium; }
.m-r-md { margin-right: $margin-medium; }
.m-b-md { margin-bottom: $margin-medium; }
.m-l-md { margin-left: $margin-medium; }
.m-h-md { margin-left: $margin-medium; margin-right: $margin-medium; }
.m-v-md { margin-top: $margin-medium; margin-bottom: $margin-medium; }

.m-t-sm { margin-top: $margin-small; }
.m-r-sm { margin-right: $margin-small; }
.m-b-sm { margin-bottom: $margin-small; }
.m-l-sm { margin-left: $margin-small; }
.m-h-sm { margin-left: $margin-small; margin-right: $margin-small; }
.m-v-sm { margin-top: $margin-small; margin-bottom: $margin-small; }

.m-t-xs { margin-top: $margin-extra-small; }
.m-r-xs { margin-right: $margin-extra-small; }
.m-b-xs { margin-bottom: $margin-extra-small; }
.m-l-xs { margin-left: $margin-extra-small; }
.m-h-xs { margin-left: $margin-extra-small; margin-right: $margin-extra-small; }
.m-v-xs { margin-top: $margin-extra-small; margin-bottom: $margin-extra-small; }

.m-none { margin: $margin-none; }
.m-t-none { margin-top: $margin-none; }
.m-r-none { margin-right: $margin-none; }
.m-b-none { margin-bottom: $margin-none; }
.m-l-none { margin-left: $margin-none; }
.m-h-none { margin-left: $margin-none; margin-right: $margin-none; }
.m-v-none { margin-top: $margin-none; margin-bottom: $margin-none; }
