$spacing-none: 0 !default;
$spacing-extra-small: 5px !default;
$spacing-small: 10px !default;
$spacing-medium: 15px !default;
$spacing-large: 20px !default;
$spacing-extra-large: 25px !default;

$margin-none: $spacing-none !default;
$margin-extra-small: $spacing-extra-small !default;
$margin-small: $spacing-small !default;
$margin-medium: $spacing-medium !default;
$margin-large: $spacing-large !default;
$margin-extra-large: $spacing-extra-large !default;

$padding-none: $spacing-none !default;
$padding-extra-small: $spacing-extra-small !default;
$padding-small: $spacing-small !default;
$padding-medium: $spacing-medium !default;
$padding-large: $spacing-large !default;
$padding-extra-large: $spacing-extra-large !default;
